body{
    background-color: #f8f9fa;
}

.card{
    border: node;
    border-radius: 15px;
    transition: transform 0.3s;
    background: linear-gradient(135deg, #3494e5, #ec6ead);
    color: #fff;
}

.allProducts {
    color: #007bff;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 28px;
}

.card-header{
    background-color: #007bff;
    color: #fff;
}

.card:hover{
    transform: scale(1.05);
}

.imageContent {
    width: 200px;
    height: 276px;
    margin: 0 auto;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 16px;
}

.card-footer{
    height: max-content;
    display: flex;
    justify-content: center;
}

.id{
    font-size: smaller;
}